<ion-view view-title="Settings">

    <!--
    <div class="bar bar-subheader no-background-image">
        <label class="item-input-wrapper item-button-right">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="q" style="background-color: #eee;">
            <div class="buttons">
                <button class="button button-clear" ng-click="q=''">Cancel</button>
            </div>
        </label>
    </div>
 -->

    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="q" ng-keydown="keypress($event)">
        </label>
        <div class="buttons">
            <button class="button button-clear padding" style="font-size: 14px;" ng-click="clear()">
                Clear
            </button>
            <button class="button icon padding" style="font-size: 14px;" ng-click="favFilterVal = !favFilterVal; resetLines(); scrollTop()">
                <i class="icon ion-ios-heart" ng-show="favFilterVal" style="color: red;"></i>
                <i class="icon ion-ios-heart-outline" ng-show="!favFilterVal" style="color: red;"></i>
                <i class="icon ion-android-train"></i>
            </button>
        </div>
    </div>

    <div class="float-button" ng-click="scrollTop()">
        <span class="height-fix">
            <a class="content">
              <i class="ion-android-arrow-dropup-circle"> </i>
            </a>
          </span>
    </div>

    <!-- <ion-content class="has-header has-footer has-tabs has-subheader padding applyFooter"> -->
    <ion-content class="has-header has-tabs has-subheader padding" id="scrollArea">

        <!-- Line color filter -->
        <div class="button-bar">
            <button
              style="height: 30px; font-size: smaller; border-radius: 0;" ng-repeat="(key, value) in settings.Lines"
              ng-click="settings.Lines.{{key}} = !settings.Lines.{{key}}; saveProperties();"
              ng-class="!value ? 'button-outline' : ''"
              class="button padding button-{{key | lowercase}}"
            >
                {{key}}
        </div>


        <div class="list">
            <div
              class="item item-icon-left item-button-right"
              ng-hide="results.length"
              style="margin: 5px;"
              ng-click="clear()"
              >
              No results, tap to clear filters
            </div>
            <div
              class="item item-icon-left item-button-right"
              ng-repeat="station in settings.StationsArr | filter: favFilter | filter: lineFilter | filter: q as results"
              ng-model="station.isFavorite"
              ng-change="saveProperties()"
              style="margin: 5px;"
              ng-class="{'background-subdued' : station.isFavorite}">

                <i class="icon ion-android-train" ng-click="station.isFavorite = !station.isFavorite; saveProperties()" ng-class="{'font-subdued': !station.isFavorite}"></i>
                <span style="font-size: large" ng-class="{'font-bold' : station.isFavorite}" ng-click="station.isFavorite = !station.isFavorite; saveProperties()">
                    <span ng-repeat="line in station.Line"
                    style="padding:2px; color: {{lineToRgb(line)}}; background-color: {{lineToRgb(line)}};">-</span>
                <span style="color: red; padding-right: 1px;" ng-show="station.isFavorite">
                    &#9829;</span> {{station.Name}}
                </span>
                <br>

                <div class="buttons">
                    <button class="button button-stable" ng-click="station.WalkTime = (station.WalkTime == 0 ? 0 : (station.WalkTime - 1)); saveProperties();">
                        <b>-</b>
                    </button>
                    <button class="button button-stable" ng-click="station.WalkTime = station.WalkTime + 1; saveProperties();">
                        <b>+</b>
                    </button>
                    <br>
                </div>
                <br>
                <i class="ion-android-walk" ng-show="station.WalkTime != 0"></i>
                <span ng-class="{'font-subdued': station.WalkTime == 0}">
                    {{station.WalkTime === 0 ? "Please set walk time" : "Walk time: " + station.WalkTime}}
                </span>
                <br> {{lineToRgb(line)}}
                </ion-checkbox>
            </div>
        </div>

        <!--
        <div class="list" id="top">
            <div class="item item-icon-left item-button-right" ng-repeat="station in settings.StationsArr | filter: favFilter | filter: q  as results"
            ng-model="settings.Stations[station.Name].isFavorite" ng-change="saveProperties()" style="margin: 5px;" ng-class="{'background-subdued' : settings.Stations[station.Name].isFavorite}">
                <i class="icon ion-android-train" ng-click="settings.Stations[station.Name].isFavorite = !settings.Stations[station.Name].isFavorite; saveProperties()"
                    ng-class="{'font-subdued': !settings.Stations[station.Name].isFavorite}"></i>
                <span style="font-size: large" ng-class="{'font-bold' : settings.Stations[station.Name].isFavorite}"
                    ng-click="settings.Stations[station.Name].isFavorite = !settings.Stations[station.Name].isFavorite; saveProperties()">
                    <span ng-repeat="line in settings.Stations[station.Name].Line"
                    style="padding:2px; color: {{lineToRgb(line)}}; background-color: {{lineToRgb(line)}};">-</span>
                <span style="color: red; padding-right: 1px;" ng-show="settings.Stations[station.Name].isFavorite">
                    &#9829;</span> {{station.Name}}
                </span>
                <br>

                <div class="buttons">
                    <button class="button button-stable" ng-click="settings.Stations[station.Name].WalkTime = settings.Stations[station.Name].WalkTime + 1; saveProperties();">
                        <b>+</b>
                    </button>
                    <button class="button button-stable" ng-click="settings.Stations[station.Name].WalkTime = (settings.Stations[station.Name].WalkTime == 0 ? 0 : (settings.Stations[station.Name].WalkTime - 1)); saveProperties();">
                        <b>-</b>
                    </button>
                    <br>
                </div>
                <br>
                <i class="ion-android-walk" ng-show="settings.Stations[station.Name].WalkTime != 0"></i>
                <span ng-class="{'font-subdued': settings.Stations[station.Name].WalkTime == 0}">
                    {{settings.Stations[station.Name].WalkTime === 0 ? "Please set walk time" : "Walk time: " + settings.Stations[station.Name].WalkTime}}
                </span>
                <br> {{lineToRgb(line)}}
                </ion-checkbox>
            </div>

            <div style="text-align: center; color: lightgray;" ng-if="results.length == 0">
                No results from search
            </div>
        </div>
-->

    </ion-content>


    <!-- <div class="bar bar-footer bar-stable sub-footer">
    <div class="title">Footer</div>
  </div> -->
</ion-view>
